body
{
display:grid;
grid-template-areas:
"header header header "
"article article article"
"footer footer footer";





grid-template-rows:100%;
grid-template-columns:100%;


}

#pageHeader
{
grid-area:header;
height: 40vh;
width: 100%;
}


#article{
    grid-area:article;
height: 60vh;
width: 100%;
}



.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
/* navbar top */

/* main content */
.main-content{
    width: 100%;
    height: 80vh;
    background-image: url("https://c1.wallpaperflare.com/preview/381/873/218/android-android-phone-cell-phone-cellphone.jpg");
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;

}

/* navbar */
#navbar-color{
    background-color: rgba(238,224,208);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;
}
/* navbar */

/* content */
.content{
    margin-top: 150px;
    margin-left: 60px;
}
.content h1{
    font-size: 50px;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1 button:hover{
    background-color: green;
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}
/* content */

/* main content */

/* card1 */
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);
}
/* card1 */

/* card2 */
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
/* card2 */

/* card3 */
#c p{
    font-weight: bold;
}
#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color: rgba(238,224,208);
}
@media screen and (max-width:895px){
    #btn3 button{
        width: 100px;
    }
}
/* card3 */
#btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn4 button:hover{
    background-color: rgba(238,224,208);
}
.footer1{
   
    background-color: black;
    

}
.footer1 h1{
    color: white;
    padding-top: 30px;
}
.footer1 p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}


    
#crd{
    position: relative;
    width:260px;
    height: 400px;
  
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
#crd .pho{
    position: relative;
    overflow: hidden;
}
#crd .pho::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
   
    transition: 0.5s;
    z-index: 1;
}
#crd:hover .pho::before{
    bottom: 0px;
}
#crd .pho img{
    width: 100%;
    transition: 0.5s;
}

#crd:hover .pho img{
    transform: translateY(-50px);
    filter: blur(2px);
}
#crd .card-body{
    position:absolute;
    bottom: -170px;
    left: 0;
    padding: 10px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    background: rgba(14, 118, 214, 0.904);

}
#crd:hover .card-body{
          bottom: 0px;

}
#crd .card-body p{
    padding: 0px;
    color: aliceblue;
    
}

section{
    background: black;
    padding: 30px;
}
.mas{
    background-color: rgb(247, 16, 208);
}
.nms{
    background-color: rgb(161, 172, 123);
    padding: 60px;
}
hr{
    border: 5px solid black;
    border-radius: 5px;
}
@media screen and (max-width:895px){
   #crd{
    justify-content: center;
    width: 100%;
   }
}





